@using System.Linq
@using System.Web
@model Vinmonopolet.Models.BeerViewModels.PolViewModel

<h3>@Model.SearchTerm</h3>

<div class="btn-group" role="group" aria-label="Beer types">
    @foreach (var type in Model.Types)
    {
        <a href="?query=@(HttpUtility.UrlEncode(type))" class="btn btn-primary">@type</a>
    }
</div>

@foreach (var pol in Model.GroupedBeers)
{
    <table class="table table-condensed">
        <tr>
            <th></th>
            <th>Matnr</th>
            <th>@pol.Key</th>
            <th class="text-right">Checkins</th>
            <th class="text-right">Rating</th>
            <th class="text-right">IBU</th>
            <th class="text-right">Alc</th>
            <th class="text-right">Antall</th>
            <th class="text-right">Pris</th>
        </tr>
        @foreach (var location in pol.OrderByDescending(x => x.WatchedBeer.AlcoholPercentage))
        {
            var beer = Model.UntappdBeers.FirstOrDefault(x => x.Id == location.WatchedBeer?.UntappdId);
        <tr>
            <td class="img-responsive"><img style="height:30px" class="img-responsive" src="@beer?.LabelUrl" /></td>
            <td>@location.WatchedBeer.MaterialNumber</td>
            <td><a href="https://untappd.com/search?q=@location.WatchedBeer.Name">@location.WatchedBeer.Name</a></td>
            <td class="text-right">@beer?.Ratings</td>
            <td class="text-right">@(beer?.AverageScore.ToString("0.00"))</td>
            <td class="text-right">@beer?.Ibu</td>
            <td class="text-right">@(location.WatchedBeer.AlcoholPercentage) %</td>
            <td class="text-right">@location.StockLevel</td>
            <td class="text-right">@location.WatchedBeer.Price</td>
        </tr>
        }
    </table>
}