@using System.Collections.Generic
@using System.Linq
@model System.Collections.Generic.IEnumerable<System.Linq.IGrouping<string, BeerLocation>>


@foreach (var pol in Model)
{
    <table class="table table-condensed">
        <tr>
            <th>@pol.Key</th>
            <th>Type</th>
            <th class="text-right">Pris</th>
            <th class="text-right">Alc</th>
            <th class="text-right">Antall</th>
            <th class="text-right">Dato</th>
        </tr>
        @foreach (var location in pol.OrderBy(x => x.AnnouncedDate).ThenBy(x => x.WatchedBeer.AlcoholPercentage))
        {
            <tr>
                <td><a href="https://untappd.com/search?q=@location.WatchedBeer.Name">@location.WatchedBeer.Name</a></td>
                <td>@location.WatchedBeer.Type</td>
                <td class="text-right">@location.WatchedBeer.Price</td>
                <td class="text-right">@(location.WatchedBeer.AlcoholPercentage) %</td>
                <td class="text-right">@location.StockLevel</td>
                <td class="text-right">@location.AnnouncedDate?.ToString("dd.MM.yyyy")</td>
            </tr>
        }
    </table>
}